@model List<AdminDashboard_UI.Models.Products>
@{
		ViewData["Title"] = "Dashboard";
}
<div class="text-center">
	<h1 class="display-4">Dashboard</h1>
</div>
<div>
	<p>Welcome to admin Dashboard.Here you can manage your products.</p>
</div>
<a asp-controller="Product" asp-action="AddProduct" class="btn btn-success mb-3">Add New Product</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Product ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Color</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@{
			if(Model == null || !Model.Any())
			{
				<tr>
					<td colspan="6" class="text-center">No products available.</td>
				</tr>
			}
			else
			{
				@foreach (var product in Model)
				{
					<tr>
						<td>@product.ProductId</td>
						<td>@product.Name</td>
						<td>@product.Description</td>
						<td>@product.Price</td>
						<td>@product.Color</td>
						<td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-productid="@product.ProductId" class="btn btn-danger">Delete</a></td>
					</tr>
				}
			}
		}
		
	</tbody>
</table>